@import url('https://fonts.googleapis.com/css?family=Cabin|Economica&display=swap');

:root {
	--color-white: #FFFFFF;
	--color-black: #242F3E;
	--color-orange: #FFC400;
	--color-cyan: #00E5FF;
	--color-magenta: #FF00F7;
	--color-lime: #76c900;
	--color-light: #f6f6f6;
	--color-dark: #a9a9a9;
	--color-darker: #6f6f6f;
}

* {
	box-sizing: border-box;
}

/* Style scrollbars (webkit) */
.scroller::-webkit-scrollbar {
	width: 6px;
}
.scroller::-webkit-scrollbar-track {
	border-radius: 3px;
	background: var(--color-light);
}
.scroller::-webkit-scrollbar-thumb {
	background-color: var(--color-black);
	border-radius: 3px;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

/* #sapper {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
} */